.boton{
    width: 60px;
    height: 60px;
    text-align: center;
    font-size:25px;
    font-weight: bold;
    font-weight: white;
    background-color: burlywood;
}

#formTablero{
    text-align: center;    
}
